// COLORS
$color-primary: black;
$color-midnight-green:#014E56;
$color-light-coral:#F67E7E;
$color-white: white;
$color-rapture-blue: #79C8C7;
$color-police-blue: #2C6269;
$color-deep-jungle-green: #004047;
$color-sacramento-green: #012F34;
$color-dark-green: #002529;

// FONTS
$font-stack: 'Livvic', sans-serif;