.contact {
    padding-top: 120px;
    padding-bottom: 128px;
    background-color: $color-midnight-green;
    background-image: url(../../img/info-before.svg), url(../../img/cotact-bgi.svg);
    background-repeat: no-repeat;
    background-position: calc(50% - 720px) 124px, calc(50% + 720px) calc(100%);
}
.contact__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact__content {
    max-width: 540px;
    width: 100%;
}
.contact__heading {
    font-weight: 700;
    font-size: 64px;
    line-height: 100px;
    margin-top: 0;
    margin-bottom: 16px;
}
.contact__list-heading {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    margin-top: 0;
    margin-bottom: 32px;
    color: $color-light-coral;
}
.contact__list {
    @include list-unstyled

}
.contact__item {
    display: flex;
    align-items: center;
    position: relative;
    &::before {
        content: url(../../img/contact-item-bgi.svg);
        position: absolute;
        z-index: 1;
        top: 16px;
        left: 16px;
    }
}
.contact__item:not(:last-child) {
    margin-bottom: 24px;
}
.contact__item-img {
    margin-right: 39px;
    z-index: 2;
    flex-shrink: 0;
}
.contact__item-desc {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}
.contact__form {
    max-width: 540px;
    width: 100%;
    position: relative;
}
.contact__input {
    border: none;
    background-color: transparent;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.115385px;
    color: #fff;
    border-bottom: 1px solid #fff;
    width: 100%;
    margin-bottom: 24px;
    padding-left: 14px;
    padding-bottom: 16px;
    padding-right: 14px;
    &:focus {
        border: none;
        border-bottom: 1px solid $color-rapture-blue;
    }
    &::placeholder {
        color: #fff;
    }
}
.contact__input-invalid-text {
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #F67E7E;
    position: absolute;
    top: 105px;
    left: 14px;
    display: none;
}
.contact__input-message {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.115385px;
    resize: none;
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    width: 100%;
    margin-bottom: 24px;
    padding-left: 14px;
    padding-bottom: 16px;
    padding-right: 14px;
    &::placeholder {
        color: #fff;
    }
}
.contact__form-button {
    background-color: #fff;
    border: none;
    padding: 10px 32px;
    border-radius: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}
.contact__input:not(:focus):not(:placeholder-shown):invalid ~ .contact__input-invalid-text {
    display: block;
}
.contact__input:not(:focus):not(:placeholder-shown):invalid {
    border-bottom: 1px solid $color-light-coral;
}
@media only screen and (max-width:900px) {
    .contact__container {
        flex-direction: column;
        text-align: center;
    }
    .contact__list {
        margin-bottom: 80px;
    }
    .contact__form {
        text-align: left;
    }
}