.our-clients {
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: $color-sacramento-green;
    text-align: center;
    position: relative;
    background-image: url(../../img/clients-bgi.svg);
    background-repeat: no-repeat;
    background-position: calc(50% - 680px) top;
}
.our-clients__heading {
    margin-top: 0;
    margin-bottom: 70px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
}
.our-clients__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @include list-unstyled
}
.our-clients__item-logo {
    display: block;
} 
@media only screen and (max-width:900px) {
    .our-clients {
        padding-top: 100px;
        padding-bottom: 100px;
       
    }
    .our-clients__heading {
        margin-bottom: 50px;
    }
    .our-clients__item-logo {
        width: 110px;
    }
}
@media only screen and (max-width:600px) {
    .our-clients {
        text-align: center;
    }
    .our-clients__heading {
        margin-bottom: 64px;
    }
    .our-clients__list {
        flex-direction: column;
    }
    .our-clients__item:not(:last-child) {
        margin-bottom: 56px;
    }
    .our-clients__item-logo {
        width: auto;
    }
}